* {
	-ms-overflow-style: none;
	box-sizing: border-box;
	/*scrollbar-color: transparent transparent;*/ /* thumb and track color */
	/*scrollbar-width: 0px;*/
}

#carousel {
	top: 200px;
	left: 0;
	right: 0;
	bottom: 50px;
	position: absolute;
}
	#carousel > ol {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		position: absolute;
		overflow-x: hidden;
		overflow-y: hidden;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
	}
	#carousel::before {
		left: 2rem;
	}
	#carousel::after {
		right: 2rem;
	}
	#carousel::before,
	#carousel::after {
		content: '';
		z-index: 1;
		background-color: rgb(255 255 255 / 50%);
		background-size: 1.5rem 1.5rem;
		background-repeat: no-repeat;
		background-position: center center;
		line-height: 4rem;
		text-align: center;
		pointer-events: none;
	}
	#carousel::before {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
	}
	#carousel::after {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
	}
	#carousel::before,
	#carousel::after,
	.carousel_prev,
	.carousel_next {
		position: absolute;
		top: 50%;
		width: 4rem;
		height: 4rem;
		transform: translateY(-50%);
		border-radius: 50%;
		font-size: 0;
	}

	.carousel_prev {
		left: 0rem;
		/*alignment guide*/ 
		/*outline: 2px solid red;*/  
	}
	.carousel_next {
		right: 0rem;
		/*alignment guide*/ 
		/*outline: 2px solid red;*/  
	}

.carousel_case {
	scroll-snap-stop: always;
	scroll-snap-align: center;
	margin: 0 2rem;
	padding: 0;
	list-style: none;
	position: relative;
	flex: 0 0 calc(100% - 4rem);
	border-radius: 50px;
	display: flex;
	flex-wrap: nowrap;
	background-color: rgba(0, 0, 0, 0.75);
}
	.carousel_case > article {
		overflow: auto;
	}
@media (min-width: 1024px) {
	.carousel_case {
		flex-direction: row-reverse;
	}

		.carousel_case > article {
			padding: 2rem 2rem 2rem 5rem;
			flex: 50%;
		}

		.carousel_case > div {
			max-width: 50%;
			flex: 1 1 50%;
		}

			.carousel_case > div > img {
				max-width: 100%;
				max-height: 50%;
			}
}
@media (max-width: 1023px) {
	.carousel_case {
		flex-direction: column;
	}

		.carousel_case > article {
			margin: 2rem 1.5rem 1rem 2rem;
			/*padding-top: 2rem;*/
			flex: calc(50% - 3rem);
		}

		.carousel_case > div {
			min-height: 200px;
			flex: 1 1 50%;
			/*margin-bottom: -2rem;*/
		}

			.carousel_case > div > img {
				max-height: 100%;
				max-width: 100%;
			}
}
/*#case0 {
	background-color: rgba(0, 0, 0, 0.75);
}
#case1 {
	background-color: rgba(255, 0, 0, 0.50);
}
#case2 {
	background-color: rgba(0, 255, 0, 0.50);
}
#case3 {
	background-color: rgba(0, 0, 255, 0.50);
}
#case4 {
	background-color: rgba(255, 216, 0, 0.50);
}*/